<div>
    <form action="/api/session/forget-password" method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email">
    <button type="submit">Restablecer contraseña</button> <br>
    </form>
    <a href="/">login</a> | <a href="/register">Register</a>
</div>