<div>
    <form action="/api/session" method="post">
        <label for="user"> username:
            <input type="text" name="username" id="user">
        </label>
        <label for="pwd"> contraseña:
            <input type="password" name="password" id="pwd">
        </label>
        <button type="submit">log in</button>
        <a href="#">register a user</a>
    </form>
</div>