<div>
    <form action="/api/session/login" method="post">
        <label for="user"> email:
            <input type="text" name="email" id="user">
        </label>
        <label for="pwd"> contraseña:
            <input type="password" name="password" id="pwd">
        </label>
        <button type="submit">log in</button>
        <a href="/forget-password">forget my password</a>
        <a href="/api/session/github">login with github</a>
        <br>
        <a href="/register">register a user</a>
    </form>
</div>