<div>
    <form action="/api/session/register" method="post">
        <label for="f-name"> first name:
            <input type="text" name="firstName" id="f-name">
        </label>
        <label for="l-name"> last name:
            <input type="text" name="lastName" id="l-name">
        </label>
        <label for="email"> email:
            <input type="text" name="email" id="email">
        </label>
        <label for="age"> age:
            <input type="text" name="age" id="age">
        </label>
        <label for="pwd"> password:
            <input type="password" name="password" id="pwd">
        </label>
        <button type="submit">create</button>
        <a href="/">log in</a>
    </form>
</div>