<h1>Crea una nueva contraseña</h1>
<hr />
<form action="/api/session/reset-password/{{user}}/code/{{code}}" method="post">
  Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Cambiar contraseña"><br><br>
  <a href="/">Login</a> | <a href="/register">Register</a>
</form>